

.navbar-static-top{
	margin-bottom: 0px !important; 
}
.active_form{
	display: inline-block;
}
.fa-edit{
	font-size: 2em;
}
.big-margin-top{
	margin-top: 70px;
}
.big-margin-top{
	margin-bottom: 100px;
}
.circle-notifications{
	background-color: #37474f;
	color: red;
	border-radius:  50%;
	padding: 1em;
}
.body{
	background-color: white !important;
}
.little-margin-left{
	margin-left: 30px;
}
.border{
	border: 1px solid #e7e1e1;
	padding: 5px;
}
.floating{
	position:fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
}

.inline-block{
	display: inline-block;
}
.text-responsive{
	max-height: 250px;
}
.border-bot{
	border-bottom: 1px solid #e7e1e1;
}
.no-margin{
	margin: 0px;
}

.margin-left{
	margin-left: 60px;
}

.little-margin-bot{
	margin-bottom: 20px;
}